body {
	background-color: #EEE;
	font-family: "Times New Roman", Arial, "Courier New";
}

a {
	text-decoration: none;
	color: red;
}

h1, h2, h3, h4 {
	margin: 0;
}

ul ul {
	list-style-type: none;
	display: none;
	padding-left: 10px;
	margin-left: 0px;
}
ul ul li:before {
	content: "\2937";
}
ul ul li:first-child {
	padding-top: 5px;
}

#main a {
	color: #0000ff;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}

#resume ul {
	list-style-type: none;
	position: relative;
	left: -40px;
}
#resume ul ul {
	list-style-type: none;
	display: none;
	padding-left: 10px;
	margin-left: 0px;
}
#resume ul ul li:before {
	content: ;
}
#resume ul ul li:first-child {
	padding-top: 5px;
}